<%= form_with(model: @marker, remote: true) do |form| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url_address %>
    <%= form.text_field :url_address %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.collection_select :type_id, @types, :id, :name, prompt: 'Selecciona un tipo...' %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: 'Selecciona una categoría...' %>
  </div>
  
  <%# <div class="field"> %>
    <%#= form.label 'Subcategorias' %>
    <%#= form.text_field :category_id %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
