<%= form_with(model: @marker, remote: true, data: {confirm: 'Are you sure?'}) do |form| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :url_address, placeholder: 'URL...' %>
    <%= form.collection_select :type_id, @types, :id, :name, prompt: 'Selecciona un tipo...' %>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: 'Selecciona una categoría...' %>
    <%= form.submit 'Crear Marcador' %>

<% end %>
