<tr>
    <td><%= marker.url_address %></td>
    <td><%= marker.type.name %></td>
    <td><%= marker.category.name %></td>
    <td><%= link_to 'Show', marker %></td>
    <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
    <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>