<% if marker.category.public %>
<tr id="marker_<%= marker.id %>">
    <td><%= marker.url_address %></td>
    <td><%= marker.type.name %></td>
    <td><%= marker.category.name %></td>
    <td><%= link_to 'Ver', marker %></td>
    <td><%= link_to 'Editar', edit_marker_path(marker), remote: true %></td>
    <td><%= link_to 'Eliminar', marker, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>