<p id="notice"><%= notice %></p>

<h1>Markers</h1>

<%= link_to 'Administrar Categorías', categories_path %> |
<%= link_to 'Administrar Tipos', types_path %>

<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Direccion URL</th>
      <th>Tipo</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tbody">
      <%= render @markers %>
  </tbody>
</table>