<p id="notice"><%= notice %></p>

<p>
  <strong>Dirección URL:</strong>
  <%= @marker.url_address %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @marker.type.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @marker.category.name %>
</p>

<%= link_to 'Editar', edit_marker_path(@marker), class: 'btn btn-primary' %>
<%= link_to 'Volver', markers_path, class: 'btn btn-primary' %>
