<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre de la Categoría" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field mt-2">
    <%= form.label "Pública" %>
    <%= form.check_box :public %>
  </div>

  
  <div class="field my-3"> 
    <%= form.label 'Subcategoría de:' %>
    <%= form.collection_select :category_id, @categories, :id, :name, {prompt: 'Selecciona una categoria'}, {class: 'custom-select'} %><span class="font-weight-bold">Omitir si es Categoria general</span>
  </div>

  <div class="actions">
    <%= form.submit 'Actualizar', class: 'btn btn-success' %>
  </div>
<% end %>
