<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Privacidad:</strong>
  <%= @category.public ? "Público" : "Privado" %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @category.category.nil? ? "General" : @category.category.name.capitalize %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class: 'btn btn-primary mt-2' %>
<%= link_to 'Volver', categories_path, class: 'btn btn-primary mt-2' %>
